[Unit]
Description=prometheus webhook

[Service]
User=apps
Group=apps
WorkingDirectory=/apps/infra-prometheus-webhook
ExecStart=/usr/sbin/infra-prometheus-webhook webhook --config configs/production.yaml -c
Restart=always
LimitNOFILE=65536


[Install]
WantedBy=multi-user.target
