[Unit]
Description=prometheus webhook

[Service]
User=root
Group=root
WorkingDirectory=/usr/local/infra-prometheus-webhook
ExecStart=/usr/local/infra-prometheus-webhook/infra-prometheus-webhook --config configs/production.yaml
Restart=always
LimitNOFILE=65536


[Install]
WantedBy=multi-user.target
